*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --color-primary: #901C1C;
    --color-secondary: #DB8876;
    --color-tertiary: #D3573C;
    --color-dark: #000;
    --color-dark-medium: #757575;
    --color-light: #fff;
    --color-light-medium: #FAFAFA;
    --color-label: #312E2E;
}

html{
    font-size: 62.5%;
    font-family: "DM Sans", sans-serif;
}

button,
a{
    cursor: pointer;
    outline: none;
    border: none;
}

button{
    background-color: transparent;
}

a{
    text-decoration: none;
    outline: none;
}

img,
video{
    object-fit: cover;
    object-position: center;
}

li{
    list-style-type: none;
}